# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Framework-specific

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
celery_results.sqlite3

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter / IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Environments / Package Managers
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PEP 582
__pypackages__/

# Celery

celerybeat-schedule
celerybeat.pid

# Development Tools / IDEs

# Rope
.ropeproject/

# Spyder
.spyderproject
.spyproject

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains IDEs
.idea/

# Documentation
/site

# Type Checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# OS – Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# OS – Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# OS – macOS
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json
Package Control.*
Package Control.cache/
Package Control.ca-certs/
oscrypto-ca-bundle.crt
bh_unicode_properties.cache
GitHub.sublime-settings

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
tags
